<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="webd_result_table">
	<caption class="webd_rt_caption"></caption>
	<tbody><tr class="webd_rt_head">
		<th class="webd_rt_head_cell webd_rt_num_cell">
			№
		</th>
		<th class="webd_rt_head_cell webd_rt_title_cell">
			Название работы
		</th>
		<th class="webd_rt_head_cell webd_rt_name_cell">
			Ф.И.О. студента
		</th>

		<th class="webd_rt_head_cell webd_rt_adviser_cell">
			Ф.И.О. руководителя
		</th>
		<!--th class="webd_rt_head_cell webd_rt_intrep_cell">
			Пр. отчет
		</th>
		<th class="webd_rt_head_cell webd_rt_intsl_cell">
			Пр. ЭП
		</th>
		<th class="webd_rt_head_cell webd_rt_rep_cell">
			Oтчет
		</th>
		<th class="webd_rt_head_cell webd_rt_sl_cell">
			ЭП
		</th-->

        <th class="webd_rt_head_cell webd_rt_sl_cell">
            Пр. отчет
        </th>

        <th class="webd_rt_head_cell webd_rt_sl_cell">
            Пр. ЭП
        </th>

        <th class="webd_rt_head_cell webd_rt_sl_cell">
            Отчет
        </th>

        <th class="webd_rt_head_cell webd_rt_sl_cell">
            ЭП
        </th>

	</tr>

    <tr class="webd_rt_row">
        <td class="webd_rt_cell webd_rt_num_cell">1</td>
        <td class="webd_rt_cell webd_rt_title_cell">Разработка мобильной игры "Сапёр" на платформе Unity</td>
        <td class="webd_rt_cell webd_rt_name_cell" title="yushkov">А. А. Юшков</td>

        <td class="webd_rt_cell webd_rt_adviser_cell">С. А. Марченков</td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <!--td class="webd_rt_cell webd_rt_intrep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_rep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_sl_cell webd_rt_no_file">

        </td-->
    </tr>

    <tr class="webd_rt_row">
        <td class="webd_rt_cell webd_rt_num_cell">2</td>
        <td class="webd_rt_cell webd_rt_title_cell">Моделирование нейронных сетей в приложении NeuroLab</td>
        <td class="webd_rt_cell webd_rt_name_cell" title="avfedoro">А. В. Федоров</td>

        <td class="webd_rt_cell webd_rt_adviser_cell">Н. А. Будникова</td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <!--td class="webd_rt_cell webd_rt_intrep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_rep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_sl_cell webd_rt_no_file">

        </td-->
    </tr>

    <tr class="webd_rt_row">
        <td class="webd_rt_cell webd_rt_num_cell">3</td>
        <td class="webd_rt_cell webd_rt_title_cell">Доработка/разработка встроенного программного обеспечения микроконтроллеров.</td>
        <td class="webd_rt_cell webd_rt_name_cell" title="dyachenk">А. П. Дьяченко</td>

        <td class="webd_rt_cell webd_rt_adviser_cell">К. А. Кулаков</td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <!--td class="webd_rt_cell webd_rt_intrep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_rep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_sl_cell webd_rt_no_file">

        </td-->
    </tr>

    <tr class="webd_rt_row">
        <td class="webd_rt_cell webd_rt_num_cell">4</td>
        <td class="webd_rt_cell webd_rt_title_cell">Разработка погодного виртуального ассистента на базе Telegram</td>
        <td class="webd_rt_cell webd_rt_name_cell" title="shayuk">А. С. Шаюк</td>

        <td class="webd_rt_cell webd_rt_adviser_cell">С. А. Марченков</td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <!--td class="webd_rt_cell webd_rt_intrep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_rep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_sl_cell webd_rt_no_file">

        </td-->
    </tr>

    <tr class="webd_rt_row">
        <td class="webd_rt_cell webd_rt_num_cell">5</td>
        <td class="webd_rt_cell webd_rt_title_cell">Мониторинг и прогнозирование положения автономных мобильных устройств</td>
        <td class="webd_rt_cell webd_rt_name_cell" title="zubko">И. А. Зубко</td>

        <td class="webd_rt_cell webd_rt_adviser_cell">О. Ю. Богоявленская</td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <!--td class="webd_rt_cell webd_rt_intrep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_rep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_sl_cell webd_rt_no_file">

        </td-->
    </tr>

    <tr class="webd_rt_row">
        <td class="webd_rt_cell webd_rt_num_cell">6</td>
        <td class="webd_rt_cell webd_rt_title_cell">Разработка пользовательского интерфейса для планировщика задач с
использованием PyQt</td>
        <td class="webd_rt_cell webd_rt_name_cell" title="tumanyan">М. М. Туманян</td>

        <td class="webd_rt_cell webd_rt_adviser_cell">С. А. Марченков</td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>

        <!--td class="webd_rt_cell webd_rt_intrep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_intsl_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_rep_cell webd_rt_no_file">

        </td>
        <td class="webd_rt_cell webd_rt_sl_cell webd_rt_no_file">

        </td-->
    </tr>

</tbody></table>
</body>
</html>