body, html {
  margin: 0;
  padding-left: 1%;
  padding-right: 1%;
}

.conteiner {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.img_galery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fed_pic {
  grid-column: 1/2;
  grid-row: 2/3;
}

.emp_pic {
  grid-column: 1/2;
  grid-row: 3/4;
}
.al_pic{
  grid-column: 1/2;
  grid-row: 4/5;
}
.fed_text {
  grid-column: 3/8;
  grid-row: 2/3;
}
.emp_text {
  grid-column: 3/8;
  grid-row: 3/4;
}
.al_text{
  grid-column: 3/8;
  grid-row: 4/5;
}
footer.footer {
  grid-area: footer;
}
.column-left{ float: left; width: 50%; text-align: center}
.column-right{ float: right; width: 50%; text-align: center}


a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
}

a:active {
	color: black;
}

a {
	font-weight: bold;
	font-size: 12pt;
}
/*
footer {
  margin-bottom: 1%;
}
*/
/*
header {
  background: url(space2.jpg);
  grid-column: 1/9;
  margin-bottom: 1%;
  
}
footer {
  background: url(space2.jpg);
  grid-column: 1/9;
  margin-bottom: 1%;
  grid-row: 5;
}
*/
header.header1 {
	background: url(space2.jpg);
	margin-left: 1%;
  margin-right: 1%;
 
	grid-column: 1/9;/*В этом сокращенном выражении grid-column мы эффективно используем grid-column-start и grid-column-end, сообщая, что элемент должен начинаться с линии сетки 1 и заканчиваться на лини 4 сетки.*/
}
footer.footer1 {
	background: url(space2.jpg);
	margin-left: 1%;
  margin-right: 1%;
  height: 25px;
	grid-column: 1/9;/*В этом сокращенном выражении grid-column мы эффективно используем grid-column-start и grid-column-end, сообщая, что элемент должен начинаться с линии сетки 1 и заканчиваться на лини 4 сетки.*/
}
